.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}


#navigation .p-navigation__logo {
  .p-navigation__item {
    small {
      font-size: 0.7rem;
    }
  }
}