.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: dashed 3px #ccc;
  border-radius: 1rem;
  padding: 2rem;
}

.active {
  border: dashed 3px dodgerblue;
}

.uploadMessage h3 {
  margin-top: 1rem;
}

.files {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.files + label {
  margin-top: 1rem;
  background-color: #0d6efd;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  text-align: center;
  user-select: none;
}

.files + label:focus,
.files + label:hover {
  background-color: #0a58ca;
  color: #fff;
}

.files + label:focus {
  outline: 1px dotted #fff;
}

.uploadBtn {
  width: auto;
  color: white;
  text-transform: uppercase;
  margin: 2rem;
  background-color: #0d6efd;
  border-radius: 4rem;
  cursor: pointer;
  padding: 0.75rem;
  text-align: center;
}