@import "vanilla-framework";
@include vanilla;

main {
    min-height: 100vh;
}

.p-navigation.is-dark {
    background-color: #930139;
}

.p-code-snippet {
    margin-bottom: 0px;

    pre {
        background-color: #1F2430;

        &:nth-child(1) {
            color: #CBCCC6;
        }
    }
}


.dropdown-window {
    border-width: 6px;
    border-style: solid;
    border-color: #930139;
    border-top-width: 0px;
}